<div class="container-fluid">
  <div class="row min-vh-100 align-content-center distance-from-navbar">
    <div class="col-md-6 p-2">
      <img src="assets/img/profile-pic.jpg" class="img-fluid" alt="Picture of Cameron Brown">
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-lg-12">
          <h1>About Me</h1>
          <p>
            Suspendisse consectetur lorem sed massa venenatis
            commodo et varius risus. Integer at nisl libero.
            Pellentesque sapien mauris, pharetra at aliquet id,
            euismod eu libero. Donec fringilla ac quam sed posuere.
            Sed faucibus, sem sollicitudin malesuada interdum, nibh
            purus dictum odio, vel gravida risus lacus sed ex.
            Maecenas sodales tincidunt nisi sed laoreet. Phasellus eu
            iaculis metus, ac luctus mauris. Sed nec ante tellus. Cras
            rhoncus leo in ipsum cursus lacinia. Class aptent taciti sociosqu
            ad litora torquent per conubia nostra, per inceptos himenaeos.
            Mauris tempor mi urna.
          </p>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-lg-12">
          <a class="m-2" href="https://www.github.com/cameronjoebrown" target="_blank">
            <fa-icon [icon]="faGithub" size="2x" style="color: black"></fa-icon>
          </a>
          <a class="m-2" href="https://www.linkedin.com/in/cameronjoebrown/" target="_blank">
            <fa-icon [icon]="faLinkedin" size="2x" style="color: #007bb5"></fa-icon>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

