<div class="container-fluid">
  <div class="row min-vh-100 align-content-center distance-from-navbar">
    <div class="col-md-6 p-2">
      <img src="assets/img/profile-pic.jpg" class="img-fluid" alt="Picture of Cameron Brown">
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-lg-12">
          <h1>About Me</h1>
          <p>
            Hi, I’m Cameron Brown. I just graduated with a Bachelor’s degree in Computer Science and
            I’m now working full-time as a software engineer at Fidelity Investments.
          </p>
          <p>
            I live in Salt Lake City, Utah. Outside of work, I love to go climbing, read books, watch TV,
            play the Nintendo Switch, and travel when I can.
          </p>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-lg-12">
          <a class="m-2" href="https://www.github.com/cameronjoebrown" target="_blank">
            <fa-icon [icon]="faGithub" size="2x" style="color: black"></fa-icon>
          </a>
          <a class="m-2" href="https://www.linkedin.com/in/cameronjoebrown/" target="_blank">
            <fa-icon [icon]="faLinkedin" size="2x" style="color: #007bb5"></fa-icon>
          <a class="m-2" href="https://www.goodreads.com/user/show/96907585-cameron-brown" target="_blank">
            <fa-icon [icon]="faGoodreads" size="2x" style="color: #007bb5"></fa-icon>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

