<div class="container-fluid">
  <div class="row min-vh-100 align-content-center distance-from-navbar">
    <div class="col-md-6 p-2">
      <img src="assets/img/profile-pic.jpg" class="img-fluid" alt="Picture of Cameron Brown">
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-lg-12">
          <h1>About Me</h1>
          <p>
            Hi, I’m Cameron Brown. I'm a software engineer at Fidelity Investments in Salt Lake City, Utah.
            I am currently doing front-end development using Angular and TypeScript.
          </p>
          <p>
            Outside of work I enjoy playing video games, reading, rock climbing, skiing, and playing/watching sports.
          </p>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-lg-12">
          <a class="m-2" href="https://www.github.com/cameronjoebrown" target="_blank">
            <fa-icon [icon]="faGithub" size="2x" style="color: black"></fa-icon>
          </a>
          <a class="m-2" href="https://www.linkedin.com/in/cameronjoebrown/" target="_blank">
            <fa-icon [icon]="faLinkedin" size="2x" style="color: #007bb5"></fa-icon>
          </a>
          <a class="m-2" href="https://www.goodreads.com/user/show/96907585-cameron-brown" target="_blank">
            <fa-icon [icon]="faGoodreads" size="2x" style="color: #007bb5"></fa-icon>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

