<div class="container-fluid min-vh-100">
  <div class="row distance-from-navbar text-center">
    <div class="col-lg-12">
      <h1>Contact Me</h1>
    </div>
  </div>

  <div class="row text-center pt-5">
    <div class="col-lg-12">
      <img src="assets/img/square-profile-pic.jpg" class="img-fluid rounded-circle profile-pic border" alt="Picture of Cameron Brown">
    </div>
  </div>

  <div class="row text-center">
    <div class="col-lg-12">
      <h3>Cameron Brown</h3>
    </div>
  </div>

  <div class="row text-center align-content-center">
    <div class="col-lg-12">
      <a href="mailto:&#099;&#097;&#109;&#101;&#114;&#111;&#110;&#106;&#111;&#101;&#098;&#114;&#111;&#119;&#110;&#064;&#105;&#099;&#108;&#111;&#117;&#100;&#046;&#099;&#111;&#109;">
        <fa-icon [icon]="faEnvelope" size="2x" style="color: black"></fa-icon>
      </a>
      <a class="m-2" href="https://www.linkedin.com/in/cameronjoebrown/" target="_blank">
        <fa-icon [icon]="faLinkedin" size="2x" style="color: #007bb5"></fa-icon>
      </a>
    </div>
  </div>
</div>
