<div class="container-fluid min-vh-100">

  <div class="row pt-5 text-center">
    <div class="col-lg-12">
      <h1>Portfolio</h1>
    </div>
  </div>

  <div class="row text-center">
    <div class="col-lg-12">
      <p>
        Visit my Github profile to view the code for these projects,
        as well as any other code I have written.
      </p>
      <a type="button" class="btn btn-primary m-2" href="https://www.github.com/cameronjoebrown" target="_blank">
        View My Github
      </a>
    </div>
  </div>

  <!-- The projects -->
  <div class="row p-3 align-content-center flex-column-reverse flex-lg-row project-background-1">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="row">
        <div class="col-lg-8">
          <img src="../../assets/img/valdez-photo2.jpg" class="img-fluid center-block" alt="A sample picture of the project">
        </div>
        <div class="col-lg-4">
          <h2>Portfolio Website</h2>
          <p>
            My personal portfolio website that I decided to build myself
            rather than using Wordpress, Square, Wix, or similar services.
          </p>
          <h4>Technology</h4>
          <p>
            A static website built using Angular and deployed using AWS Amplify.
          </p>
          <p>
            Most of the styling and design was done by myself using Bootstrap 4, but I also used some
            of Chris Dermody's design and code that he was giving away for free. You can view his code
            <a href="https://github.com/Chippd/chippd.github.io">here.</a>
          </p>
          <a type="button" class="btn btn-primary" href="https://www.github.com/cameronjoebrown" target="_blank">
            View Code
          </a>
        </div>
      </div>
    </div>

  </div>

  <div class="row p-3 align-content-center project-background-2">
    <div class="col-lg-6">
      <img src="../../assets/img/valdez-photo2.jpg" class="img-fluid" alt="A sample picture of the project">
    </div>
    <div class="col-lg-6">
      <h2>Internship at Fidelity Investments - Summer 2021</h2>
      <p>

      </p>
      <h4>Technology</h4>
      <p>
        Description of technologies, languages, and
        frameworks used.
      </p>
    </div>
  </div>

  <div class="row p-3 align-content-center flex-column-reverse flex-lg-row project-background-1">
    <div class="col-lg-6">
      <h2>Twitter Clone</h2>
      <p>
        An Android app similar to Twitter that I built for a class project.
      </p>
      <h4>Technology</h4>
      <p>
        An Android front end implemented using the MVP (Model View Presenter) pattern connected to a
      </p>
      <!-- TODO:  Maybe have a link to each of the apps running somewhere -->

      <!-- TODO: Maybe add more detailed analysis of each project. Maybe just in the README or Wiki on the repo?
      <h4>Analysis</h4>
      <p>
        If you'd like to read a detailed analysis of the project and the decisions I made while building it,
        you can read it <a routerLink="/about">here.</a>
      </p>
      -->
    </div>
    <div class="col-lg-6">
      <img src="../../assets/img/valdez-photo2.jpg" class="img-fluid" alt="A sample picture of the project">
    </div>
  </div>

  <div class="row p-3 align-content-center project-background-2">
    <div class="col-lg-6">
      <img src="../../assets/img/valdez-photo2.jpg" class="img-fluid" alt="A sample picture of the project">
    </div>
    <div class="col-lg-6">
      <h2>Internship at Fidelity Investments - Summer 2020</h2>
      <p>
        Brief Project Description....uspendisse consectetur
        lorem sed massa venenatis commodo
        et varius risus. Integer at nisl libero.
      </p>
    </div>
  </div>

</div>
