<div class="container-fluid">

  <div class="row distance-from-navbar text-center">
    <div class="col-lg-12">
      <h1>Portfolio</h1>
    </div>
  </div>

  <!-- The projects -->
  <div class="row project-row-1">
    <div class="col-sm-8 offset-sm-2">
      <div class="row">
        <div class="col-lg-6">
          <img src="../../assets/img/fidelity.png" class="img-fluid" alt="A sample picture of the project">
        </div>
        <div class="col-lg-6">
          <h3>Summer Internship 2021</h3>
          <h5>Fidelity Investments</h5>
          <p>
            I helped build a Dashboard view for a business automation platform which
            contained data from the app summarized in useful charts, graphs, and tables.
          </p>
          <h5>Technology</h5>
          <p>
            The dashboard was built using Angular and styled using Bootstrap. The charts/graphs
            were built using Highcharts and tables using AG Grid and the actual data
            was retrieved using Elasticsearch queries.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row project-row-2">
    <div class="col-sm-8 offset-sm-2">
      <div class="row">
        <div class="col-lg-6  order-lg-8">
          <img src="../../assets/img/portfolio-preview-mac-iphone.png" class="img-fluid" alt="A sample picture of the project">
        </div>
        <div class="col-lg-6 order-lg-4">
          <h3>Portfolio Website</h3>
          <p>
            My personal portfolio website that I decided to build myself
            rather than using Wordpress or similar services.
          </p>
          <h5>Technology</h5>
          <p>
            A static website built using Angular and deployed using AWS Amplify.
          </p>
          <p>
            Most of the styling and design was done by myself using Bootstrap 4, but I also used some
            of Chris Dermody's code which you can view
            <a href="https://github.com/Chippd/chippd.github.io">here.</a>
          </p>
        </div>
      </div>
      <div class="row justify-content-center" style="margin: 20px;">
          <button type="button" class="btn btn-primary" (click)="openLink('https://github.com/cameronjoebrown/PortfolioWebsite')">
            View Code
          </button>
      </div>
    </div>
  </div>

  <div class="row project-row-1">
    <div class="col-sm-8 offset-sm-2">
      <div class="row">
        <div class="col-lg-6 text-center">
          <img src="../../assets/img/tweeter-preview.png" style="height: 300px" class="img-fluid" alt="A sample picture of the project">
        </div>
        <div class="col-lg-6">
          <h3>Twitter Clone</h3>
          <p>
            An Android app similar to Twitter that I built for a class project at BYU.
          </p>
          <h5>Technology</h5>
          <p>
            An Android front end using the Model View Presenter pattern and a back end
            using Amazon API Gateway, AWS Lambda, Amazon SQS, and DynamoDB.
          </p>
        </div>
      </div>
      <div class="row justify-content-center" style="margin: 20px;">
        <button type="button" class="btn btn-primary" (click)="openLink('https://github.com/cameronjoebrown/byucs340-twitterclone')">
          View Code
        </button>
      </div>
    </div>
  </div>

</div>
