<div class="container-fluid">

  <div class="row distance-from-navbar text-center">
    <div class="col-lg-12">
      <h1>Portfolio</h1>
    </div>
  </div>

  <!-- The projects -->
  <div class="row project-row-1">
    <div class="col-sm-8 offset-sm-2">
      <div class="row">
        <div class="col-lg-6">
          <img src="../../assets/img/fidelity.png" class="img-fluid" alt="A sample picture of the project">
        </div>
        <div class="col-lg-6">
          <h2>Summer Internship 2021</h2>
          <h4>Fidelity Investments</h4>
          <p>
            I helped build a Dashboard view for a business automation platform which
            contained data from the app summarized in useful charts, graphs, and tables.
          </p>
          <h4>Technology</h4>
          <p>
            The dashboard was built using Angular and styled using Bootstrap. The charts/graphs
            were built using Highcharts and tables using AG Grid and the actual data
            was retrieved using Elasticsearch queries.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row project-row-2">
    <div class="col-sm-8 offset-sm-2">
      <div class="row">
        <div class="col-lg-8  order-lg-8">
          <img src="../../assets/img/portfolio-preview-macbook.png" class="img-fluid" alt="A sample picture of the project">
        </div>
        <div class="col-lg-4 order-lg-4">
          <h2>Portfolio Website</h2>
          <p>
            My personal portfolio website that I decided to build myself
            rather than using Wordpress or similar services.
          </p>
          <h4>Technology</h4>
          <p>
            A static website built using Angular and deployed using AWS Amplify.
          </p>
          <p>
            Most of the styling and design was done by myself using Bootstrap 4, but I also used some
            of Chris Dermody's code that he was giving away for free. You can view his code
            <a href="https://github.com/Chippd/chippd.github.io">here.</a>
          </p>
        </div>
      </div>
      <div class="row justify-content-center" style="margin: 20px;">
          <a type="button" class="btn btn-primary" href="https://github.com/cameronjoebrown/PortfolioWebsite" target="_blank">
            View Code
          </a>
      </div>
    </div>
  </div>

  <div class="row project-row-1">
    <div class="col-sm-8 offset-sm-2">
      <div class="row">
        <div class="col-lg-8">
          <img src="../../assets/img/valdez-photo2.jpg" class="img-fluid" alt="A sample picture of the project">
        </div>
        <div class="col-lg-4">
          <h2>Trip Planner</h2>
          <p>
            A web app for planning trips that I helped build for a group project at BYU.
            I was on the front end team for the project.
          </p>
          <h4>Technology</h4>
          <p>
            The front end was built using Vue and styled using Tailwind CSS.
            We also used Vuex to manage state.
          </p>
        </div>
      </div>
      <div class="row justify-content-center" style="margin: 20px;">
        <a type="button" class="btn btn-primary" href="https://github.com/J-Ridgwell/trip-planner-frontend" target="_blank">
          View Code
        </a>
      </div>
    </div>
  </div>

  <div class="row project-row-2">
    <div class="col-sm-8 offset-sm-2">
      <div class="row">
        <div class="col-lg-8 order-lg-8">
          <img src="../../assets/img/valdez-photo2.jpg" class="img-fluid" alt="A sample picture of the project">
        </div>
        <div class="col-lg-4 order-lg-4">
          <h2>Twitter Clone</h2>
          <p>
            An Android app similar to Twitter that I built for a class project at BYU.
          </p>
          <h4>Technology</h4>
          <p>
            An Android front end using the Model View Presenter pattern and a back end
            using Amazon API Gateway, AWS Lambda, Amazon SQS, and DynamoDB.
          </p>
        </div>
      </div>
      <div class="row justify-content-center" style="margin: 20px;">
        <a type="button" class="btn btn-primary" href="https://github.com/cameronjoebrown/byucs340-twitterclone" target="_blank">
          View Code
        </a>
      </div>
    </div>
  </div>

</div>
