.project-row-1 {
  background-color: lightgrey;
  -webkit-clip-path: polygon(0 0%, 100% 4%, 100% 96%, 0% 100%);
  clip-path: polygon(0 0%, 100% 4%, 100% 96%, 0% 100%);
  padding: 65px 10px;
}

.project-row-2  {
  background-color: white;
  padding: 65px 10px;
}


