<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" routerLink="" routerLinkActive="active">Cameron Brown</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a class="nav-link js-scroll-trigger" routerLink="/about" routerLinkActive="active">About</a></li>
        <li class="nav-item"><a class="nav-link js-scroll-trigger" routerLink="/projects" routerLinkActive="active">Projects</a></li>
        <li class="nav-item"><a class="nav-link js-scroll-trigger" routerLink="/contact" routerLinkActive="active">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>
