<!-- Navigation-->
<nav class="navbar fixed-top navbar-light navbar-expand-sm bg-light bg-transparent" (scroll)="onWindowScroll();">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="" (click)="closeMenu()">Cameron Brown</a>
    <button class="navbar-toggler" type="button" (click)="toggleCollapsedMenu()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" routerLink="" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active" (click)="closeMenu()">Home</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/about" routerLinkActive="active" (click)="closeMenu()">About</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/portfolio" routerLinkActive="active" (click)="closeMenu()">Portfolio</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/contact" routerLinkActive="active" (click)="closeMenu()">Contact</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/software-engineering-blog" routerLinkActive="active" (click)="closeMenu()">Blog</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>
