.homepage-cover {
  background-image:url('../../assets/img/homepage-cover.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.homepage-cover h1 {

}

