<!-- TODO: When screen size is small, the text overlaps the darker parts of the background image and is hard to read.-->
<div class="jumbotron container-fluid flex-column" id="vertical-center">
  <!--
  I am using these break tags to vertically center the text.
  I realize that this may not be the correct way to do it, but
  it is what I will be doing for now until I figure out a better
  way.
  -->
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

  <h1>Cameron Brown</h1>
  <h3>Software Engineer</h3>
  <br>
  <p>I specialize in frontend development using industry standard</p>
  <p>patterns (MVC, MVP, MVVM) and commonly used</p>
  <p>frameworks including Android, Angular, and Vue.</p>
  <button type="button" class="btn btn-primary" routerLink="/about">More About Me</button>
  <!-- TODO: Should I call it Projects or Portfolio? -->
  <button type="button" class="btn btn-primary" routerLink="/projects">View My Projects</button>
  <button type="button" class="btn btn-primary" routerLink="/contact">Contact Me</button>
</div>

<!-- TODO: Replace the Lorem ipsum with a summary of the other pages or just get rid of it all together. -->
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin at viverra nunc, vitae efficitur metus. Etiam pharetra tempor dui in hendrerit. Integer sit amet arcu nibh. Cras euismod arcu quis vehicula vestibulum. Phasellus elementum dolor sapien, vel fringilla purus tempor dictum. Donec quis iaculis quam. Pellentesque in leo tristique, sodales arcu non, finibus nisi. Cras in velit porta, aliquam mauris id, laoreet nulla. Nunc scelerisque ac tortor non fringilla. Donec sed interdum augue. Cras sit amet auctor felis. Sed et convallis nisl. Aliquam vitae nulla convallis, lacinia est at, commodo ex. Vestibulum finibus quam in ex faucibus iaculis. Ut sed massa nunc.

  Quisque varius, libero ac pulvinar efficitur, massa sapien elementum tortor, quis ultricies nibh odio sit amet elit. Sed nibh felis, gravida vel lorem vitae, ornare mollis ipsum. Quisque eu efficitur mauris, sit amet ullamcorper sapien. Vestibulum semper, ante ac rutrum lacinia, est magna dignissim felis, id volutpat mauris elit vitae nisl. Donec et finibus enim. Aliquam vulputate eros viverra, lacinia magna a, posuere enim. Mauris dapibus, mauris quis laoreet iaculis, ipsum lacus cursus lorem, sit amet luctus lectus est id lorem. Nam id nisi molestie, dapibus nibh ac, egestas leo. Sed sit amet interdum dolor, in mollis risus. Quisque a sem quis dui laoreet ornare a at ante.

  Integer volutpat, sem ac pulvinar tristique, ipsum arcu finibus nibh, sit amet egestas mauris sem et metus. Nullam at nibh at erat fermentum fringilla ut id eros. Donec non dictum urna, eu scelerisque tortor. Nam enim eros, ornare a consequat eget, efficitur sit amet nisl. Suspendisse sit amet neque nibh. Ut luctus, velit a convallis placerat, sapien odio lacinia velit, vestibulum hendrerit metus velit ut elit. Sed id vestibulum est. Vestibulum ultricies convallis congue. Vestibulum vitae sollicitudin risus, eget vulputate lectus. Morbi tempor bibendum erat sed bibendum. Mauris finibus venenatis nisi vel consequat. Vestibulum iaculis cursus erat, sed sollicitudin ante pulvinar non. Sed gravida aliquam risus sit amet convallis. Sed sit amet aliquet nibh. Curabitur maximus nec mauris ac porta.

  Integer consequat facilisis risus quis laoreet. Morbi rutrum interdum laoreet. Aliquam vel vulputate odio, blandit convallis quam. Vivamus laoreet dolor sed purus pharetra, ut sagittis dolor lobortis. Curabitur tempus vitae felis quis euismod. Integer scelerisque erat non velit vulputate, cursus viverra turpis bibendum. In elementum urna quis posuere sodales. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc accumsan sed massa at imperdiet. In sodales elit a tellus aliquam ultrices.

  Morbi semper elementum ipsum, non tempor neque porta eu. Suspendisse ornare odio dui, sit amet porttitor nisl eleifend sit amet. Donec sem nulla, finibus ut magna at, consectetur vehicula risus. Donec magna nibh, posuere et lorem non, sodales lobortis arcu. Etiam eros massa, tincidunt sit amet facilisis quis, semper sed nisl. Duis sed commodo massa. Nam aliquet odio non velit fermentum elementum.

  Fusce egestas elit id diam feugiat iaculis. Maecenas vitae ante vel enim varius elementum. Donec turpis lectus, porta at euismod a, consequat a magna. Vivamus id est eu turpis mollis vehicula. Maecenas nec magna eu mauris porta bibendum sit amet in massa. Nunc placerat mauris a augue fringilla finibus. Phasellus vehicula eros vitae dui semper, eu bibendum lorem lacinia. Suspendisse mattis nunc sapien, eget rhoncus quam semper ut. Vestibulum laoreet pulvinar urna, a laoreet purus suscipit in. Etiam in mollis leo. Duis eu nisl a augue pharetra mattis ut id turpis. Pellentesque volutpat dolor quis velit fermentum mollis. Aenean ut semper urna.

  Sed quis mattis ipsum, non interdum diam. Phasellus sem erat, suscipit ut posuere non, fringilla vulputate est. Vestibulum et dictum arcu, at finibus nibh. Aenean id lectus vitae velit consequat posuere vitae at justo. Sed venenatis sodales metus, et scelerisque enim mollis vel. Mauris ullamcorper placerat dapibus. Curabitur eu libero blandit, laoreet eros a, vulputate elit.

  Phasellus id congue velit, non posuere enim. Praesent nisi elit, posuere et facilisis non, tempus nec lectus. Cras semper non massa ac varius. Sed vitae nunc sed enim laoreet suscipit ut eu ipsum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse sed ligula id purus cursus finibus quis ac neque. Aenean interdum mi sed augue molestie, a laoreet nisl lacinia. Praesent tristique sem eu nunc tempor rhoncus. Pellentesque mollis, orci sed dictum dictum, lectus quam rutrum ante, porta malesuada est mauris et metus. Nullam at interdum augue. Fusce aliquet augue purus, et eleifend neque luctus eu. Etiam eget dapibus lectus. Nulla tincidunt ipsum turpis, eget facilisis nisi aliquet ut.

  Morbi auctor lectus mauris, non dignissim est euismod a. Suspendisse potenti. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer sed placerat erat. Maecenas molestie commodo risus nec eleifend. Nulla facilisi. Nulla condimentum ut erat a lobortis. Nullam quis nulla mauris. Curabitur egestas ex at metus fringilla rhoncus. Phasellus in ante lobortis, dapibus nisl vitae, eleifend enim. Donec at aliquet lorem. Fusce porttitor efficitur velit, vitae mollis tortor faucibus sed. Aenean porttitor, justo at viverra placerat, mauris elit dapibus mi, at porta est libero posuere erat.

  Vivamus condimentum quam vel urna lobortis, vitae aliquam odio rhoncus. Praesent laoreet ipsum eu lorem pharetra porttitor. Maecenas in urna sodales est blandit faucibus sed sit amet felis. Nulla maximus felis dolor, ut sodales enim egestas vulputate. Sed nec dictum risus. Nunc semper, erat quis porta suscipit, turpis orci lobortis ex, id auctor enim sapien a est. Cras imperdiet, nibh at aliquet aliquam, leo orci convallis ligula, sit amet vulputate eros orci non lorem. Donec tempor, metus vel imperdiet maximus, nulla metus interdum lectus, eget rhoncus nibh eros maximus orci. Suspendisse ultricies, risus eget viverra mollis, massa libero venenatis lectus, et fringilla arcu augue non mauris. Integer dapibus euismod fermentum. Aenean libero libero, scelerisque a elit sed, interdum placerat eros. Praesent suscipit mauris a neque dictum tempus. Proin varius urna nisl, non rutrum neque pellentesque id. Donec mattis in tortor at tempor.
</p>
