<div class="jumbotron container-fluid position-absolute">
</div>
<div class="container-fluid">
  <div class="row min-vh-100 p-5 align-content-center">
    <div class="col-lg-12 text-shadow">
      <h1>Cameron Brown</h1>
      <h3>Software Engineer</h3>
      <p>I love writing code and building software.</p>
      <button type="button" class="btn btn-primary" routerLink="/about">More About Me</button>
      <button type="button" class="btn btn-primary" routerLink="/portfolio">View My Portfolio</button>
      <button type="button" class="btn btn-primary" routerLink="/contact">Contact Me</button>
    </div>
  </div>
</div>
