<!-- TODO: When screen size is small, the text overlaps the darker parts of the background image and is hard to read.-->
<div class="jumbotron container-fluid flex-column" id="vertical-center">
  <!--
  I am using these break tags to vertically center the text.
  I realize that this may not be the correct way to do it, but
  it is what I will be doing for now until I figure out a better
  way.
  -->
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

  <h1>Cameron Brown</h1>
  <h3>Software Engineer</h3>
  <br>
  <p>I specialize in frontend development using industry standard</p>
  <p>patterns (MVC, MVP, MVVM) and commonly used</p>
  <p>frameworks including Android, Angular, and Vue.</p>
  <button type="button" class="btn btn-primary" routerLink="/about">More About Me</button>
  <button type="button" class="btn btn-primary" routerLink="/portfolio">View My Portfolio</button>
  <button type="button" class="btn btn-primary" routerLink="/contact">Contact Me</button>
</div>
